html {
  background-color: #282c34;
}

.search-bar {
  margin: 100px 18%;
  
}

.display {
  margin: 2.5% 20%;
}

.poster {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  cursor: pointer;
}

.info_pannel h1 {
  font-size: xx-large;
  color: #8a99a1;
  margin-bottom: 20px;
}

.country {
  font-size: 24px;
  color: #8a99a1;
  border: 1px solid aqua;
  border-radius: 6px;
  padding: 5px;
}
